.wrapper {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  color: white;
  transition: all 200ms ease-in;
}

.black {
  background-color: white;
  color: black;
}

.img {
  width: 35rem;
  height: 5.5rem;
  background: no-repeat center;
  background-size: contain;
}

.phone {
  font-size: 3.6rem;
  line-height: 4.2rem;
  font-weight: bold;
}

.phoneText {
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
}
